@import '../Partials/variables';
@import '../Partials/mixin';

.cardlist {
  background-color: var(--background_def);
  border-radius: 10px;

}

.dayslogs {
  height: 80vh;
  overflow: auto;
  border-radius: 10px;

}
.paginat{
  background-color: var(--background_def);

  display: grid; place-items: center
}

.accordion {
  height: 80vh;
  overflow: auto;
  border-radius: 10px;
  border-bottom-left-radius: 0px ;
  border-bottom-right-radius: 0px ;
  background-color: var(--background_def);

}
.showcollapse{
  color: white;

  background-color: rgb(51, 50, 50);

}

a {
  border: 0px;
  background-color: var(--background_def);
  color: var(--color_text);
}

.collapsed {
  border: 0px;
  background-color: var(--background_def);
  color: var(--color_text);
}

.accordion-item {
  border: 0px;
}

::-webkit-scrollbar {
  width: 5px;
}

a:hover {
  background-color: var(--background_def);
  color: var(--color_text);
  font-size: larger;
}

a:active {
  background-color: var(--background_def);
  color: var(--color_text);
  font-size: larger;
}

a:visited {
  background-color: var(--background_def);
  color: var(--color_text);
  font-size: larger;
}



/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.accordion-button::after {
  background: none !important;
}
.accordion-button{
  border: 0px;
}