@import '../Partials/variables';
@import '../Partials/mixin';
.menu {
    position: fixed;
    width: 70px;
    height: 100%;
    display: block;
    background-color: var(--background_def);
    transition: width 0.4s;
    z-index: 3;
  }
  
  .menuOpen {
    position: fixed;
    width: 225px;
    height: 100%;
    display: block;
    border-radius: 0px;
    background-color: var(--background_def);
    transition: width 0.1s;
    z-index: 3;
  }
  
  .text-none {
    display: none;
  }
  
  .comint {
    color: var(--color_text);
  }
  
  .comint:hover {
    cursor: default;
  }
  
  ul {
    color: white;
    list-style-type: none;
    padding: 0px;
  }
  
  li {
    margin-left: 5px;
    margin-bottom: 5px;
    width: 100%;
    padding: 3px;
    display: flex;
    gap: 6px;
    font-size: 15px;
    cursor: pointer;
  }
  .link{
    margin-top: 1.0em;
    margin-bottom: 1.0em;
    color: var(--color_text);
  }
  .link:hover {
    margin-left: 8px;
  }
  
  .logo {
    width: 50px;
  }
  
  a {
    text-decoration: none;
    color: white;
  }
  
  span {
    padding-left: 10px;
    justify-content: right;
    font-size: 19px;
    display: flex;
    color: var(--color_text);
  }
  i{
    color: var(--color_text);
  }
  .chevron {
    position: absolute;
    right: 25px;
  }
  
  .icon {
    color: #7367f0;
    cursor: pointer;
    // position: absolute;
    // right: 25px;
  }
  
  .logotop {
    background: var(--background_def);
  }
  .Grouplist {
    width: 100%;
  
  }
  .router-link-active {
   color: #000; 
  .link{
    background: var(--button_hover);
    border-radius:5px ;
    color: #000;
   ;
  }
 
 
  }
  
